.DS_Store
/doc
config/deploy.yml
config/database.yml
config/app_config.yml
config/deploy.yml
config/secrets.yml
public/assets

/.vagrant

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
