.body-copy
  %h1 Redigera äldreboendet

%menu.actions
  %li= link_to delete_icon_text, nursing_home_path(@nursing_home), confirm: 'Vill du ta bort äldreboendet?', method: :delete, class: "btn btn-danger btn-small"

= render 'form'
