.breadcrumbs {
  margin-bottom: 1.5em;
}

ul, ol {
  list-style: none;
}
ul, ol, li {
  margin: 0;
  padding: 0;
}

h1.title {
  font-weight: normal;
  font-size: emize(32, 16);
  line-height: 1.1;
  margin: .1em 0 .3em;
}

.body-copy h2 {
  margin-top: 1em;
}

.graph {
  width: 100px;
  border: 1px solid #ccc;
  line-height: 1.2em;
  span.satisfaction {
    display: block;
    height: 1.3em;
    background: #ccf0cc;
    padding: .1em 0 0 .3em;
  }
}

.actions {
  float: right;
  font-size: emize(13);
  li {
    float: right;
    margin-left: .4em;
  }
}

.actions.bottom {
  clear: both;
}

.new {
  float: right;
  clear: left;
}

ul#user-menu {
  float: right;
  margin: .3em 0 1em;
  li {
    font-size: emize(13);
    font-family: $sansSerif;
    line-height: 1.3;
    text-align: right;
    display: inline-block;
    margin-left: 1em;
  }
}

.ui-widget-overlay {
    background-image: none;
    background-color: #000;
}

div.notice {
  font-family: $serif;
}

.drafted {
  @include opacity(0.5);
}
