#compare {
  overflow-x: auto;
  table {
    border: none;
    width: 100%;
    margin-bottom: 2em;
    th, td {
      vertical-align: top;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: .6em;
      border-bottom: 1px solid #ccc;
      border-collapse: collapse;
      background: none;
    }
    thead th {
      vertical-align: bottom;
      padding-top: 0;
      padding-bottom: .2em;
    }
    td.xy {
      border: none;
    }
    thead td.xy,
    tbody th,
    tbody td.first {
      padding-right: 1em;
      width: 15em;
      max-width: 15em;
    }
    tr {
      background: none;
    }
    th.sub-heading {
      padding: 1.5em 0 .2em;
      background: none;
      border-bottom: 1px solid #666;
    }
    td.note {
      font-weight: normal;
      border: none;
      padding-top: .5em;
    }
    td.remove {
      padding: .6em;
    }
    img {
      border: 1px solid #999;
    }
  }
  .no-records {
    margin: 0em 0 5em;
  }
}
