#compare {
  overflow-x: auto;
  table {
    th, td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td.xy {
      border: none;
    }
    thead td.xy,
    tbody th,
    tbody td.first {
      padding-right: 1em;
      width: 15em;
      max-width: 15em;
    }
    th.sub-heading {
      padding: 1.5em 0 .2em;
      background: none;
      border-bottom: 1px solid #666;
    }
    th.quality {
      font-weight: normal;
    }
    td.note {
      font-weight: normal;
      border: none;
      padding-top: .5em;
    }
    td.remove {
      padding: .6em;
    }
    img {
      border: 1px solid #999;
    }
  }
  .no-records {
    margin: 0em 0 5em;
  }
}
