body.nursing-homes.compare {
  .wrap-all {
    width: 100%;
  }
  .columns-2 .content-wrapper, .columns-3 .content-wrapper {
    width: 100%;
  }
}

.main-content-nursing_homes {
  clear: both;
  padding: 1.5em 0 2em;
  overflow: hidden;
}

#tab-element-container {
  padding: 0;
  #tab-element-map {
    padding-bottom: 1em;
    #inline-map {
      border: 1px solid #c0c0c0;
    }
  }
}

ul, ol {
  list-style: none;
}
ul, ol, li {
  margin: 0;
  padding: 0;
}


.form-row.name {
  padding: .4em .8em;
  border: 1px solid #c0c0c0;
  @include radius(3px);
  margin-bottom: 1em;
  label {
     display: inline;
     margin-right: .5em;
     font-size: .929em;
  }
  input {
     width: 22em;
  }
}

div.ui-tabs .ui-widget-content {
  padding-bottom: 0;
}

.graph {
  width: 100px;
  border: 1px solid #ccc;
  line-height: 1.2em;
  span.satisfaction {
    display: block;
    height: 1.3em;
    background: #ccf0cc;
    padding: .1em 0 0 .3em;
  }
}

.actions {
  float: right;
  font-size: .925em;
  li {
    margin-left: .4em;
  }
}

#additional-bottom-show,
#additional-bottom-index,
#additional-top-index {
  float: right;
}

#additional-top-index ul {
  margin-top: .25em;
  li {
    margin: 0;
  }
}

ul#user-menu {
  float: right;
  li {
    font-size: .857em;
    text-align: right;
    line-height: 1.3em;
  }
}


.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

#tab-element-map iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.ui-widget-overlay {
    background-image: none;
    background-color: #000;
}

div.notice {
  font-family: $serif;
}

.drafted {
  @include opacity(0.7);
}
