// CKEditor styles to mimic rendered content
h2, p {
  margin: 0 0 14px;
  font-family: Georgia;
  font-size: 14px;
  line-height: 19px;
}
h2 {
  margin: 0;
  font-weight: bold;
  font-family: "Trebuchet MS", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 3px;
}
