/* Edit views */
.edit {
  #compare-box {
    display: none;
  }
  menu.actions {
    float: right;
    display: block;
    margin-bottom: 2em;
  }

  .thumbs, .uploads, {
    margin-left: 0;
    input.file {
      margin-bottom: 1.5em;
    }
    .thumb, .placeholder {
      margin: 0 1em 1em 0;
      float: left;
      width: 133px;
      height: 120px;
      overflow: hidden;
      padding: .5em;
      background: #F5F5EE;
      border: 1px #ccc solid;
      @include radius(4px);
      .crop {
        height: 100px;
        width: 133px;
        margin-bottom: .3em;
        overflow: hidden;
      }
      .destroy {
        label, input {
          font-family: $sansSerif;
          float: none;
          display: inline;
          width: auto;
        }
        input {
          margin: 0 .2em 0 0;
        }
      }
    }
    .placeholder {
      background: #fff;
      border: 1px dashed #666;
    }
  }
  .uploads input {
    margin: 0 0 .6em;
  }
  .thumbs {
    margin-top: .5em;
    img {
      cursor: move;
      width: 133px;
    }
  }
  .count {
    margin: .4em 0 1.5em 12em;
    padding: .2em .5em;
    width: 11.8em;
    text-align: center;
    font-family: $sansSerif;
    font-size: emize(13);
    &.ok {
      border: 1px solid #ACDFA7;
      background: #EAFFE0;
    }
    &.warn {
      border: 1px solid #FFCC00;
      background: #FFFAE0;
    }
    &.too-much {
      border: 1px solid #FF0000;
      background: #FFEAE0;
    }
  }

  .control-group.quality {
    .control-label {
      display: block;
      width: 100%;
    }
    .controls {
      width: 100%;
      margin-left: 0;
      clear: both;
    }
  }


  table.user {
    width: 100%;
    margin-bottom: 2em;
  }
  p.instructions {
    margin: .3em 0 .5em;
  }
  form.new-user {
    label {
      width: 8em;
    }
    input {
    }
    .actions {
      margin: .5em 0 0 8.7em;
    }
  }

  // CKEditor chrome
  .cke_skin_kama {
    overflow: hidden;
    padding: 0;
    border: none;
    @include radius(0);
    .cke_wrapper {
      box-sizing: border-box;
      padding: 0;
      border: 1px solid #999;
      @include radius(0);
      .cke_top {
        padding: 6px 6px 0;
      }
      .cke_format a {
        width: 120px;
        .cke_text {
          width: 90px;
        }
      }
    }
  }
}

body.user aside {
  display: none;
}
