#filter {
  .form-row {
    float: left;
  }
  label {
    margin-bottom: .2em;
  }
  select {
    width: emize(160);
    margin: 0 1em .5em 0;
  }
  .form-row.neighborhood {
    clear: left;
  }
  .status {
    font-size: emize(13);
    clear: left;
  }
  .form-row.reset {
    label {
      visibility: hidden;
    }
    input {
      display: none;
    }
  }
}
