.wrapper {
  @include clearfix();
  margin: 0 auto;
  max-width: 60em;
  padding: 0 1em;
  @media (max-width: 48em) {
    max-width: 34em;
  }
}
main, .contact-us {
  @include columns(9);
}

#compare-box {
  @include columns(3, true);
}

body.compare {
  padding: 0 .5em;
  min-width: 0;
  #malmo-masthead,.wrapper {
    max-width: 500em;
  }
}

iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 1em;
  border: $border;
}
