.wrapper {
  @include clearfix();
  margin: 0 auto 2em;
  max-width: 67em;
  padding: 0 1em;
}

body.compare .wrapper {
  max-width: 200em;
  padding: 0 1em;
}


main, .contact-us {
  @include columns(9);
}

#my-list {
  @include columns(3, true);
}

@media (max-width: 62em) {
  main, .contact-us {
    @include columns(8);
  }

  #my-list {
    @include columns(4, true);
  }
}

@media (max-width: 49em) {
  main, .contact-us, #my-list {
    @include columns(12);
  }
}

iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 1em;
  border: $border;
}
