@media (min-width: 68em) {
  #filter select {
    width: emize(180);
  }
}

@media (max-width: 68em) {
  body {
    min-width: 0;
  }
}

@media (max-width: 51em) {
  body {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    > .wrapper {
      margin: 0 1.5em;
      padding-bottom: 1em;
    }
  }
  #masthead-search {
    margin-right: 1em;
  }

  #filter {
    .form-row {
      select {
        width: emize(140);
      }
    }
    .form-row.reset {
      input {
        font-size: emize(11, 14);
      }
    }
  }
}

@media (max-width: 48em) {
  body .wrapper {
    margin: 0 1.5em;
    > .main {
      @include columns(12);
      margin-bottom: 1em;
    }
    > aside {
      @include columns(12);
    }
  }

  ul.results {
    .summary {
      h2 {
        float: none;
      }
      .compare-check {
        float: none;
        margin: .5em 0;
      }
    }
  }
}

@media (max-width: 40em) {
  #filter {
    .form-row {
      float: none;
      label {
        width: emize(160);
        display: inline-block;
      }
      select {
        width: emize(260);
      }
    }
    .form-row.reset {
      margin: .5em 0 1em;
      label {
        display: none;
      }
    }
  }
  .breadcrumbs, ul#user-menu {
    float: none;
    clear: both;
  }
  ul#user-menu li {
    margin-left: 0;
  }
}

@media (max-width: 28em) {
  ul.results {
    .summary {
      @include columns(12);
    }
    .image {
      display: none;
    }
  }
}
