ul.results {
  @include clearfix();
  li {
    margin-bottom: 1em;
    @include clearfix();
  }
  .summary {
    @include columns(9, true);
    margin-bottom: 1em;
    h2 {
      font-family: $sansSerif;
      font-size: emize(15);
      margin: 0 0 .2em;
      padding: 0;
    }
    .neighborhood, .owner-type {
      font-family: $sansSerif;
      font-size: emize(13);
      line-height: 1.4;
      margin: 0;
    }
    .owner-type {
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .5em;
    }
    .compare-check {
      float: right;
      label {
        display: inline;
        font-size: emize(13);
        font-family: $sansSerif;
      }
      span.icon-plus:before {
        margin-right: .6em;
      }
    }
  }
  .image {
    @include columns(3);
    img {
      margin-top: .3em;
      width: 100%;
      height: auto;
      border: $border;
    }
  }
}
