ul.results {
  @include clearfix();
  li {
    margin-bottom: 1em;
    @include clearfix();
  }
  .summary {
    @include columns(8, true);
    @media (max-width: 28em) {
      @include columns(12);
    }
    margin-bottom: 1em;
    h2 {
      float: left;
      margin: 0 0 .2em;
      padding: 0;
      @media (max-width: 52em) {
        float: none;
      }
    }
    .neighborhood, .owner-type {
      clear: both;
      font-family: $sans-serif;
      font-size: emize(14);
      line-height: 1.4;
      margin: 0;
    }
    .owner-type {
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .5em;
    }
    .compare-check {
      float: right;
      @media (max-width: 52em) {
        float: none;
        margin: .5em 0;
      }
      label {
        display: inline;
        font-size: emize(14);
        font-family: $sans-serif;
      }
      span.icon-plus:before {
        margin-right: .6em;
      }
    }
  }
  .image {
    @include columns(4);
    min-height: 1em;
    img {
      margin-top: .4em;
      width: 100%;
      height: auto;
      border: $border;
    }
    @media (max-width: 28em) {
      display: none;
    }
  }
}
#map {
  display: none;
}

.switch-view {
  margin: 0 0 1em;
  padding: 0;
  li {
    font-family: $sans-serif;
    font-size: emize(14);
    display: inline;
    margin: 0 1.2em 0 0;
    a {
      display: inline-block;
      color: #000;
      background-position: 0 50%;
      padding-left: 1.4em;
    }
    &.active a {
      cursor: default;
      text-decoration: none;
    }
  }
}
