.show {
  .description {
    @include columns(6.5);
    margin-bottom: 1em;
  }
  #slideshow {
    @include columns(5.5, true);
    margin: .3em 0 1em;
    .images {
      img {
        display: none;
        width: 100%;
        height: auto;
        border: $border;
        border-top: 0;
      }
    }
    menu {
      display: none;
      background: $background-darker;
      color: #fff;
      padding: .4em .8em .5em .7em;
      font-size: emize(12);
      font-family: $sans-serif;
      margin: 0;
      li.prev, li.next {
        display: inline;
        cursor: pointer;
      }
      li.prev {
        margin-right: 1.5em;
      }
      li.count {
        float: right;
        display: inline;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  #map {
    display: none;
    overflow: hidden;
    margin: 0 0 1em;
    border: $border;
    width: 100%;
    height: 31.3em;
  }

  .show-on-map {
    float: right;
    clear: right;
    margin: 1em 0 2em;
    white-space: nowrap;
    color: #000;
    background-position: 0 50%;
    padding-left: 1.4em;
    font-family: $sans-serif;
    font-size: emize(14);
  }

  .compare-check {
    float: right;
    clear: right;
    *float: none;
    *clear: both;
    margin: 0;
    white-space: nowrap;
    input {
      margin: 2px 3px 0 0;
      padding: 0;
    }
    label {
      display: inline;
      font-size: emize(14);
      font-family: $sans-serif;
    }
  }

  dl.details {
    clear: both;
    font-family: $sans-serif;
    font-size: emize(14);
    margin: 0 0 2em;
    border-bottom: $border;
    dt {
      border-top: $border;
      clear: both;
      float: left;
      line-height: 1.3em;
      min-height: 1.3em;
      padding: 0.4em 0 0;
      width: 12em;
    }
    dd {
      border-top: $border;
      line-height: 1.3em;
      min-height: 1.3em;
      margin: 0 0 0.4em 12em;
      padding: 0.4em 0 0;
      p {
        margin: 0;
      }
    }
  }

  .quality {
    clear: both;
    font-family: $sans-serif;
    font-size: emize(14);
    margin: 0 0 .5em;
    border-top: $border;
    .indicator {
      @include clearfix();
      border-bottom: $border;
      padding: .5em 0;
      .label {
        float: left;
        width: 80%;
      }
      .value {
        float: right;
      }
      .no-value {

      }
    }
    @media (max-width: 40em) {
      border-top: none;
      .indicator {
        border-bottom: none;
        .label {
          float: none;
          width: auto;
        }
        .value {
          float: none;
          margin: .4em 0 1em;
          .graph {
            width: 100%;
          }
        }
      }
    }
  }

  .note {
    font-family: $sans-serif;
    font-size: emize(14);
    margin: .3em 0 2em;
  }

  .note.updated {
    margin-bottom: 1.5em;
  }

  ul.nearby, ul.attachments  {
    list-style: none;
    font-family: $sans-serif;
    font-size: emize(14, 17);
    margin: 0 0 1em;
    padding: 0;
  }
}

@media (max-width: 38em) {
  .show {
    .description {
      @include columns(12);
    }
    #slideshow {
      @include columns(12);
    }
    dl.details {
      border: none;
      dt, dd {
        float: none;
        display: block;
        border: none;
        margin: 0;
        line-height: 1;
      }
      dd {
        margin-bottom: 1em;
      }
    }
  }
}
