/ eri-no-index
%section#compare-box
  %h1 Min lista
  .status-list
  %p.how-to= 'Kryssa i "Visa i Min lista" intill ett boende för att lägga till det till din jämförelselista.'
  = link_to "Jämför dessa", compare_nursing_homes_path, class: "btn btn-small compare"
//eri-no-index
