- xtrclass ||= ""
%div{:class => "article-toolbar " +  xtrclass}
  .listen
    = link_to 'Lyssna', "http://app.readspeaker.com/proreader/proreader.php?cid=4817&lang=sv_se&url=#{@location}"
  .print
  .share
    %a.addthis_button{:href => 'http://www.addthis.com/bookmark.php?v=250'}
      %img{:src => '//www.malmo.se/assets-2.0/img/share-this.png', :width=>'119', :height => '18', :alt=> 'Dela'}
