<div id='travel-box'>
  <div class='content-wrapper'>
    <div class='content-wrapper-1'>
      <div class='content-wrapper-2'>
        <div class='content-wrapper-3'>
          <div class='content-wrapper-4'>
            <div class='content-wrapper-5'>
              <div class='content-wrapper-6'>
                <h2>Reseplaneraren</h2>
                <div class="travel">
                   <%= link_to image_tag( "skanetrafiken.png", alt: "Skånetrafiken" ), "http://www.reseplaneraren.skanetrafiken.se/" %>
                   <div class="tiny-button">
                     <%= link_to "Sök resa", "http://www.reseplaneraren.skanetrafiken.se/" %>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
