%section#travel-box
  %h2 Reseplaneraren
  = link_to image_tag("skanetrafiken.png", alt: "Skånetrafiken"), "http://www.reseplaneraren.skanetrafiken.se/"
  = link_to "Sök resa", "http://www.reseplaneraren.skanetrafiken.se/", class: "btn"
